<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alan.antwallpaper">

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AntWallpaper">

        <service
            android:name=".AntWallpaperService"
            android:enabled="true"
            android:label="Ant Wallpaper"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/ant_main" />

        </service>
        <!--
        <activity
            android:name=".AntSettingActivity"
            android:exported="true"
            android:label="@string/app_name">
        </activity>
        -->
        <activity
            android:name=".AntSettingActivity"
            android:exported="true"
            android:label="Ant Wallpaper Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AntWallpaperActivity"/>
        </activity>

        <activity android:name=".AntWallpaperActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>